spaces
#--prefer-binary
#--pre
--extra-index-url https://download.pytorch.org/whl/cu129

torch==2.8.0
torchvision
torchaudio

#bitsandbytes

accelerate
#git+https://github.com/huggingface/transformers.git

transformers

safetensors

paramiko

huggingface_hub[hf_transfer]

scipy

#ftfy

#opencv-python

Pillow

#xformers

numpy

peft

#triton

gguf

git+https://github.com/ford442/image_gen_aux.git@1ink

#gradio[oauth]==5.11.0
diffusers
#git+https://github.com/huggingface/diffusers.git
#git+https://github.com/ford442/diffusers.git@pre_upcast_offload
#git+https://github.com/ford442/diffusers.git@pre_upcast_offload
#git+https://github.com/ford442/diffusers.git@pre_64_nohook_unet

timm
